:root {
    /* --clr-font: black; */
    --clr-background: #ffe9e3;
    --clr-buttonBG: #c4c1e0;
    --clr-buttonHover: #7c73e6;
}
*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
header {
    text-align: center;
}
body {
    background-color: var(--clr-background);
    color: black;
    margin: 10px 25px;
    padding: 15px;
    font-size: 1.15rem;
}
p {
    margin-bottom: 15px;
    padding: 10px;
    background-color: var(--clr-buttonBG);
}
.p1 {
    border: 2px solid black;
    float: left;
    width: 50%;
}
.p2 {
    border: 2px solid black;
    float: right;
    width: 50%;
}
.p2::after {
    content: "";
    clear: both;
}
div.button {
    text-align: center;
    background-color: hotpink;
}
a {
    text-decoration: none;
}
a.button {
    padding: 10px;
    border: 1px solid black;
    border-radius: 4px;
    font-size: 2rem;
    text-transform: uppercase;
    letter-spacing: 0.5em;
    background-color: var(--clr-buttonBG);
    color: var(--clr-button);
}
a.button:hover {
    background-color: var(--clr-buttonHover);
    color: white;
    cursor: pointer;
}
